.icon-disco{
    height: 25px;
}

.recommendations-title{
    text-align: center;
    letter-spacing: 3px;
}

.rec-tracks-container{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 30px;
    justify-content: center; 
}

.rec-track-card{
    border: 2px solid rgba(143, 210, 248, 0.306);
    border-radius: 30px;
    margin: 0px 15px 30px 15px;
    padding: 0px 10px;
    width: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.rec-track-img{
    width: 180px;
    height: 180px;
}

.rec-track-img:hover{
    border-radius: 50px;
    border: 2px rgba(255, 255, 255, 0.686) solid;
}

.genres-ul-title{
    text-align: center;
    color: yellowgreen;
}

.genres-ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    color: yellowgreen;
}