.track-details-container{
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 60px 0px 100px 0px;
}

.track-details-img{
    width: 400px;
    border: yellowgreen 2px solid;
    border-radius: 100px 0px 100px 0px;
}

.track-details-img:hover{
    border-radius: 100px 100px 100px 100px;
    border: white 2px solid;
    transition-duration: 1s;
}

.track-details-track{
    text-shadow: aquamarine;
    text-shadow: rgba(82, 133, 6, 0.63) 2px 5px;
    width: 350px;
}

.available-markets{
    width: 300px;
    text-align: center;
}

.artists-redirecto-link{
    text-decoration: none;
    background-color: rgb(167, 200, 100);
    color: black;
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: bold;
}

.artists-redirecto-link:hover{
    font-size: large;
}

.track-details-img-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.track-details-info-container{
    padding: 0px 20px;
    border-radius: 10px;
    color: black;
    font-size: larger;
    font-weight: bolder;
}

.track-details-info-container ul li{
    background-color: yellowgreen;
    text-align: center;
    border-radius: 5px;
    width: 250px;
}